
FAVICON    ICON    bmp\XPCALC.ICO
XPCALC     ICON    bmp\XPCALC.ICO
EXDEL      BITMAP  bmp\EXDEL.bmp
EXBUSCA    BITMAP  bmp\EXBUSCA.bmp
EXMODIF    BITMAP  bmp\EXMODIF.bmp
EXNUEVO    BITMAP  bmp\EXNUEVO.bmp
EXPRINT    BITMAP  bmp\EXPRINT.bmp
EXSALIR    BITMAP  bmp\EXSALIR.bmp
EXOK       BITMAP  bmp\EXOK.bmp
EXCTACON   BITMAP  bmp\EXCTACON.bmp
EXBANCO    BITMAP  bmp\EXBANCO.bmp
BANCOINI   BITMAP  bmp\0.bmp
EXEDITA    BITMAP  bmp\EXEDITA.BMP
EXOUT      BITMAP  bmp\EXOUT.BMP
EXMOVBAN   BITMAP  bmp\EXMOVBAN.BMP
EXCONCIL   BITMAP  bmp\EXCONCIL.BMP
EXPRNBCO   BITMAP  bmp\EXPRNBCO.BMP
EXPRNCTAS  BITMAP  bmp\EXPRNCTAS.BMP
EXGRAPH    BITMAP  bmp\EXGRAPH.BMP
EXREINDEX  BITMAP  bmp\EXREINDEX.BMP
EXRESPALDO BITMAP  bmp\EXRESPALDO.BMP
EXAYUDA    BITMAP  bmp\EXAYUDA.BMP
FONDO      BITMAP  bmp\FONDOMIG.BMP
FONDO1     BITMAP  bmp\FONDOMIG3.BMP
EXMOVBAN1  BITMAP  bmp\EXMOVBAN1.BMP
RDISKETTE  BITMAP  bmp\DISKETTE.BMP
VARIOS     BITMAP  bmp\PLUSPLUS.BMP
EXINFO     BITMAP  bmp\EXINFO.BMP
EXRESAL    BITMAP  bmp\EXRESAL.BMP
EXHELP     BITMAP  bmp\EXHELP.BMP
EXADIC     BITMAP  bmp\EXADIC.BMP
EXCRED     BITMAP  bmp\EXCRED.BMP
